extends layout

block content
    header.video
      .overlay
      .intro-content.wow.fadeIn
        .row

          .col-lg-12.text-center
            i.fa.fa-music.fa-4x
            h2 Song It
            small  By Tom Rowe & David Luke
            hr.colored
            h4
              strong Error, New names won't work at the moment sorry! Try 'Tom' or 'David' for a preview.
        .row.content-row
          form
            .row
              .form-group.floating-label-form-group.controls
                br
                .btn.btn-outline-light(onclick="goHome()") GO HOME
                br
                br
            br
