// Footer
footer
  script(src='vendor/jquery/jquery.min.js')
  script(src='vendor/bootstrap/js/bootstrap.min.js')
  script(src='js/classie.js')
  script(src='js/cbpAnimatedHeader.js')
  script(src='js/handler.js')
  // Plugin Scripts
  script(src='vendor/jquery.easing/jquery.easing.min.js')
  script(src='vendor/owl-carousel/owl.carousel.js')
  script(src='vendor/magnific-popup/jquery.magnific-popup.min.js')
  script(src='vendor/formstone/core.js')
  script(src='vendor/formstone/transition.js')
  script(src='vendor/formstone/background.js')
  script(src='vendor/mixitup/jquery.mixitup.js')
  script(src='vendor/wow/wow.min.js')
  // Contact Form Scripts
  script(src='js/contact_me.js')
  script(src='js/jqBootstrapValidation.js')
  // Vitality Theme Scripts
  script(src='js/vitality.js')
