extends layout

block content
  // Navigation
  nav.navbar.navbar-inverse.navbar-fixed-top(role='navigation')
    .container
      //Title
      .navbar-header
        a.navbar-brand
          span.glyphicon.glyphicon-music(aria-hidden='true')
          strong  Song it
    // /.container
  // Page Content
  .container.mainBody
    // Heading, search item

    .row.headRow.pull-center
      h1.page-header
        | Let's Pick A Song!
        br
        small Enter another name to make more songs.
      br
    //// User Details Row
    .row
      each index in songs
        h2.pull-center
         strong #{index}
         input.btn.btn-primary.addButton.pull-center(name='selectSong', onclick="songSelected('#{name}', '#{index}')", type='button', value='#{name}')
        br
    br
    hr



